.commit {
  margin: .5rem 1rem .5rem 0;
}
.li-item {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  list-style: none;
}
.li-item:hover{
  background-color: #f6f8fa89;
  cursor: pointer;
}
.li-item a {
  text-decoration: none;
  color: white;
}
.commit-avatar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.avatar {
  max-width: 100px;
}
.commit-info {
  max-width: 500px;
}
.avatar-user {
  border-radius: 50%;
  margin-right: 5px;
}

.octicon {
  display: inline-block;
  overflow: visible;
  fill: currentColor;
  vertical-align: text-bottom;
}
